<div class="container">
  <div class="row" id="form">
    <header><h2>Formulario de contacto</h2></header>
    <div class="col-5">

      <div class="input-group"> <!-- mb-3 da espaciado entre los componentes -->
        <span class="input-group-text" id="basic-addon3">Nombre</span>
        <input type="text" class="form-control">
      </div>
      <div class="form-text">Introduce tu nombre</div>
      <br>

      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Email</span>
        <input type="text" class="form-control">
      </div>
      <div class="form-text">Introduzca un email válido</div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Mensaje</span>
        <textarea class="form-control"></textarea>
      </div>
      <div class="form-text">Introduzca un mensaje</div>
      <br>

      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">2+3=?</span>
        <input type="text" class="form-control">
      </div>
      <div id="help" class="form-text">Validación anti-spam incorrecta</div>
      <br>

      <button type="submit" class="btn btn-primary">Enviar</button>

    </div>

  </div>
</div>
