<div class="container">

  <div class="row" id="alta">
    <header>Alta Cliente</header>
    <!-- tres columnas por estructura - 1a vacia -->
    <div class="col-3"></div>

    <div class="col-2" id="colAltaNombres">
      <ul id="options">
        <li>Nombre:</li>
        <li>CIF:</li>
        <li>Dirección:</li>
        <li>Grupo</li>
        <li><button id="guardar" (click)="save()">Guardar</button></li>
        <li><button id="verList" (click)="verList()">Ver Listado de Clientes</button></li>
      </ul>
    </div>

    <div class="col-4">
      <div class="vstack gap-1">
        <input type="text" id="name" [(ngModel)] = 'name'>
        <input type="text" id="cif" [(ngModel)] = 'cif'>
        <input type="text" id="direc" [(ngModel)] = 'addres'>
        <select class="group" [(ngModel)] = 'group'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>

  </div>
</div>
