<div class="container">

  <div class="row" id="alta">
    <header>Alta Cliente</header>
    <!-- tres columnas por estructura - 1a vacia -->
    <div class="col-3"></div>

    <div class="col-2" id="colAltaNombres">
      <ul id="options">
        <li>Nombre:</li>
        <li>CIF:</li>
        <li>Dirección:</li>
        <li>Grupo</li>
        <li><button type="button" class="btn btn-info" id="guardar" (click)="save()">Guardar</button></li>
        <label for="verList" style="font-size: 8px;">Doble click para volver a esconder Lista</label>
        <li><button type="button" class="btn btn-info" id="verList" (click)="showClientList(true)" (dblclick)="showClientList(false)">Ver Listado de Clientes</button></li>
      </ul>
    </div>

    <div class="col-4">
      <div class="vstack gap-1">
        <input class="form-control form-control-sm" type="text" id="name" [(ngModel)] = 'name'>
        <input class="form-control form-control-sm" type="text" id="cif" [(ngModel)] = 'cif'>
        <input class="form-control form-control-sm" type="text" id="direc" [(ngModel)] = 'addres'>
        <select class="group form-select form-select-sm" [(ngModel)] = 'group'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>

  </div>
</div>
